@use "reset";
@use "themes/dark";
@use "themes/light";
@use "variables/global";

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content-inner {
  display: flex;
}

.content-page {
  padding: 20px;
  flex-grow: 1;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}
