.sidebar {
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  width: var(--sidebar-width);
  transition: width 0.2s linear;
  padding: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.toggler {
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
}

.lang {
  color: var(--inverted-primary-color);
  display: block;
}